<div class="minisidebar">
    <ul >
        <li><a href="javascript:void()">Designers</a></li>
        <li><a href="javascript:void()">Developers</a></li>
        <li><a href="javascript:void()">Developers prerequisite</a></li>
        <li><a href="javascript:void()">Artifactory</a></li>
    </ul>
</div>
<div class="minisidebar">
    <ul>
        <li><a href="javascript:void()">Designers</a></li>
        <li><a href="javascript:void()">Developers</a></li>
        <li><a href="javascript:void()">Developers prerequisite</a></li>
        <li><a href="javascript:void()">Artifactory</a></li>
    </ul>
</div>
